.paginate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.previous, .next {
    text-decoration: none;
    color: #3F3F3F;
    font-size: 18px;
}

.current-page {
    border: 1px solid #3F3F3F;
border-radius: 3px;
padding: 0 10px;
}